# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/MinecraftClient/x64
/MinecraftServer/x64
/MinecraftProjectLibrary/x64
/MinecraftProjectLibrary/Util/Tracy/libbacktrace
/MinecraftProjectLibrary/Util/Tracy/client
/MinecraftProjectLibrary/Util/Tracy/common
/MinecraftProjectLibrary/Util/Tracy/tracy
/Include
/Lib
/x64
/MinecraftClient/level.dat
/MinecraftServer/level.dat
/.idea
